<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Hemlock</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/jquery-3.3.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link href="css/hemlock.css" rel="stylesheet">
  <script th:inline="javascript">
    $(document).ready(function () {
      $('#changeemail').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.username = /*[[${user.username}]]*/ 'null';
        user.password = $('#emailpass').val();
        user.email = $('#oldemail').val();
        user.resetToken = $('#newemail').val();
        $.ajax({
          type: 'POST',
          url: '/changeemail',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('Error');
            }
            else {
              alert('Email changed');
              $('#emailpass').val('');
              $('#oldemail').val('');
              $('#newemail').val('');
            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
      $('#changeusername').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.username = /*[[${user.username}]]*/ 'null';
        user.password = $('#userpassword').val();
        user.resetToken = $('#newusername').val();
        $.ajax({
          type: 'POST',
          url: '/changeusername',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('fail');
            }
            else {
              alert('Username changed');
              $('#username').text($('#newusername').val());
              $('#userpassword').val('');
              $('#newusername').val('');

            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
      $('#changepassword').submit(function (e) {
        e.preventDefault();
        if ($('#newpassword').val() != $('#check').val()) {
          alert('Passwords do not match');
        }
        else {
          var user = new Object();
          user.username =/*[[${user.username}]]*/ 'null';
          user.password = $('#oldpassword').val();
          user.resetToken = $('#newpassword').val();
          console.log('working')
          $.ajax({
            type: 'POST',
            url: '/changepassword',
            data: JSON.stringify(user),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
              if (response.response == 'ERROR') {
                alert('error');
              }
              else {
                alert('Password changed');
                $('#oldpassword').val('');
                $('#newpassword').val('');
                $('#check').val('');
              }
            },
            error: function (response) {
              console.log(response);
            }
          });
        }
      });
      $('#changebio').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.username = /*[[${user.username}]]*/ 'null';
        user.resetToken = $('#bio').val();
        $.ajax({
          type: 'POST',
          url: '/changebio',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('error');
            }
            else {
              alert('Bio changed');
            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
      $('#criticapp').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.password = $('#criticpass').val();
        user.resetToken = $('#criticinfo').val();
        $.ajax({
          type: 'POST',
          url: '/applycritic',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('error');
            }
            else {
              $('#criticapp').prop('hidden', true);
              $('#criticsuccess').prop('hidden', false);
            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
    });
  </script>
  <script th:inline="javascript">
    $(document).ready(function () {
      $('#forgotpassword').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.email = $('#email').val();
        console.log($('#email').val());
        $.ajax({
          type: 'POST',
          url: '/forgotpassword',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('Error');
            }
            else {
              alert('Email sent');
            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
    });
  </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" style="background-color: white;">
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="/">Hemlock</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown01" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Movies</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/movies/opening">Opening This Week</a>
              <a class="dropdown-item" href="/movies/comingsoon">Coming Soon</a>
              <a class="dropdown-item" href="/movies/boxoffice">Top Box Office</a>
              <a class="dropdown-item" href="/movies/rated?page=1">Highest Rated</a>
              <a class="dropdown-item" href="/movies/awardwinners?page=1">Award Winners</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown02" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">TV Shows</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="/tv/newtv">New TV Shows Tonight</a>
              <a class="dropdown-item" href="/tv/rated?page=1">Top Rated</a>
              <a class="dropdown-item" href="/tv/fresh">Certified Fresh</a>
            </div>
          </li>
          <li style="margin-left: 50px;">
            <form action="/search" th:action="@{/search}" method="post" class="form-inline my-2 my-lg-0" th:object="${queryOption}">
              <select th:field="*{dropdown}" style="margin-right: 8px;">
                <option th:value="All">All</option>
                <option th:value="Movie">Movies</option>
                <option th:value="TV">TV Shows</option>
                <option th:value="Actor">Celebrities</option>
              </select>
              <input name="query" th:field="*{query}" class="form-control mr-sm-2" type="text" placeholder="Search" style="width: 500px"
                required>
              <button class="btn btn-outline my-2 my-sm-0" type="submit">
                <img class="img-responsive" src="images\search-icon.png">
              </button>
            </form>
          </li>
        </ul>
        <div th:if="${user.username == null}">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 15px;">
                <form action="/login" th:action="@{/login}" th:object="${user}" method="post" accept-charset="UTF-8">
                  <input id="user_username" style="margin-bottom: 15px;padding-left: 5px" type="text" name="user[username]" placeholder="Username"
                    th:field="*{username}" size="30" />
                  <input id="user_password" style="margin-bottom: 15px;padding-left: 5px" type="password" name="user[password]" placeholder="Password"
                    th:field="*{password}" size="30" />
                  <label style="display: inline-block; margin-right: 50px;" for="user_remember_me">
                    <input type="checkbox"> Remember me
                  </label>
                  <br>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 10px;" type="submit"
                          name="commit" value="Log In" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <a class="btn btn-success" href="/register" style=" display: inline-block; clear: right; height: 32px; font-size: 13px;"
                          type="submit">Sign up</a>
                      </div>
                      <div class="col-8">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style=" display: inline-block; clear: right; height: 32px; font-size: 13px;width: 100%;">Forgot Password?
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
        <div th:if="${user.username != null}">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="padding-left: 8px;text-decoration: none;">
                <div class="media p-1 float-left">
                  <img th:if="${user.picture}==null" src="images/profile.png" class="mr-1 mt-1 rounded-circle" style="width:30px;" />
                  <img th:if="${user.picture}!=null" th:src="@{'data:image/jpeg;base64,'+${user.picture64}}" class="mr-1 mt-1 rounded-circle"
                    style="width:30px;" />
                </div>
                <div th:text="${user.username}" style="display: inline-block; text-align: center;vertical-align: middle;line-height: 40px;"></div>
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; width: 190px;">
                <div class="row">
                  <div class="col-5">
                    <div class="media p-1 float-left">
                      <img th:if="${user.picture}==null" src="images/profile.png" class="mr-1 mt-1 rounded-circle" style="width:60px;" />
                      <img th:if="${user.picture}!=null" th:src="@{'data:image/jpeg;base64,'+${user.picture64}}" class="mr-1 mt-1 rounded-circle"
                        style="width:60px;" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div style="padding:5px; width: 100%;">
                      <a th:href="@{/user(username=${user.username})}+'#watchlist'" style="font-size:15px; color:green">
                        <b>Watchlist</b>
                      </a>
                      <a th:href="@{/user(username=${user.username})}+'#blacklist'" style="font-size:15px; color:red">
                        <b>Blacklist</b>
                      </a>
                    </div>
                  </div>
                </div>
                <a th:href="@{/user(username=${user.username})}" style="text-decoration: none;">Profile</a>
                <br>
                <a href="/account" style="text-decoration: none;">Account Settings</a>
                <br>
                <div class="dropdown-divider"></div>
                <form action="/logout" method="post">
                  <input class="btn btn-danger" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit"
                    value="Log Out" />
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="email" type="text" class="form-control" placeholder="Enter email">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form id="forgotpassword" method="POST">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main role="main">
    <div class="container" style="margin-top: 120px;">
      <div class="row">
        <div class="col-4" style="margin-right: 30px;">
          <h3>Account Settings</h3>
          <br>
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-bio-list" data-toggle="list" href="#list-bio" role="tab"
              aria-controls="bio">Edit personal info</a>
            <a class="list-group-item list-group-item-action" id="list-username-list" data-toggle="list" href="#list-username" role="tab"
              aria-controls="username">Change user name</a>
            <a class="list-group-item list-group-item-action" id="list-password-list" data-toggle="list" href="#list-password" role="tab"
              aria-controls="password">Change password</a>
            <a class="list-group-item list-group-item-action" id="list-email-list" data-toggle="list" href="#list-email" role="tab" aria-controls="email">Change email</a>
            <a class="list-group-item list-group-item-action" id="list-critic-list" data-toggle="list" href="#list-critic" role="tab"
              aria-controls="critic">Apply to be a Critic</a>
            <a class="list-group-item list-group-item-danger list-group-item-action" id="list-delete-list" data-toggle="list" href="#list-delete"
              role="tab" aria-controls="delete">Delete account</a>
          </div>
        </div>
        <div class="col-7">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-bio" role="tabpanel" aria-labelledby="list-bio-list">
              <h4>Edit personal info</h4>
              <br>
              <form id="changebio" method="POST">
                <div class="form-row">
                  <div class="col">
                    <textarea th:if="${user.bio}!=null" th:text="${user.bio}" id="bio" style="width: 100%;border-radius: 5px;padding:4px;"></textarea>
                    <textarea th:if="${user.bio}==null" id="bio" placeholder="Enter your bio here" style="width: 100%;border-radius: 5px;padding:4px;"></textarea>
                    <br>
                    <button class="btn btn-info float-right">Save Changes</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-username" role="tabpanel" aria-labelledby="list-username-list">
              <h4>Change user name</h4>
              <br>
              <form id="changeusername" method="POST">
                <div class="form-row">
                  <div class="col">
                    <input id="userpassword" type="password" class="form-control" placeholder="Password" style="margin-bottom: 10px;">
                    <input id="newusername" type="text" class="form-control" placeholder="New user name" style="margin-bottom: 10px;">
                    <button class="btn btn-info float-right">Change Username</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-password" role="tabpanel" aria-labelledby="list-password-list">
              <h4>Change password</h4>
              <br>
              <form id="changepassword" method="POST">
                <div class="form-row">
                  <div class="col">
                    <input id="oldpassword" type="password" class="form-control" placeholder="Old password" style="margin-bottom: 10px;">
                    <input id="newpassword" type="password" class="form-control" placeholder="New password" style="margin-bottom: 10px;">
                    <input id="check" type="password" class="form-control" placeholder="Confirm password" style="margin-bottom: 10px;">
                    <button class="btn btn-info float-right">Change password</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-email" role="tabpanel" aria-labelledby="list-email-list">
              <h4>Change email</h4>
              <br>
              <form id="changeemail" method="POST">
                <div class="form-row">
                  <div class="col">
                    <input id="emailpass" type="password" class="form-control" placeholder="Password" style="margin-bottom: 10px;">
                    <input id="oldemail" type="text" class="form-control" placeholder="Enter current email" style="margin-bottom: 10px;">
                    <input id="newemail" type="text" class="form-control" placeholder="Enter new email" style="margin-bottom: 10px;">
                    <button class="btn btn-info float-right" style="margin-top: 10px;">Change email</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-critic" role="tabpanel" aria-labelledby="list-email-list">
              <h4>Apply to be a Critic</h4>
              <div class="row">
                <div class="col-6">
                  <h5>Basic Requirements: </h5>
                  <ul>
                    <li>Account must be registered for at least 1 month.</li>
                    <li>Account must have at least 10 reviews.</li>
                    <li>Account can not have banned reviews.</li>
                  </ul>
                </div>
                <div class="col-6">
                  <h5>Preferred Requirements: </h5>
                  <ul>
                    <li>Publish reviews under one of the following:
                      <ul>
                        <li>A top 100 daily US newspaper</li>
                        <li>A top 100 weekly US newspaper</li>
                        <li>A top 100 magazine</li>
                        <li>A top 50 entertainment-based publication</li>
                      </ul>
                    </li>
                    <li>Published over 100 reviews</li>
                    <li>Be part of an approved Film Critic Society</li>
                  </ul>
                </div>
              </div>
              <br>
              <center>
                <p id="criticsuccess" th:hidden="!${applied}">Your submission has been submitted!</p>
              </center>
              <form id="criticapp" method="POST" th:if="!${applied}">
                <div class="form-row">
                  <div class="col">
                    <input id="criticpass" type="password" class="form-control" placeholder="Password" style="margin-bottom: 10px;">
                    <textarea id="criticinfo" rows="4" placeholder="Explain why you wish to be a Hemlock Critic" style="width: 100%;border-radius: 5px;padding:4px;"></textarea>
                    <button class="btn btn-info float-right" style="margin-top: 10px;">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="list-delete" role="tabpanel" aria-labelledby="list-delete-list">
              <h4>Delete account</h4>
              <br>
              <form id="delete" method="POST" action="/deleteaccount">
                <div class="form-row">
                  <div class="col">
                    <div class="card">
                      <div class="card-body">
                        <strong style="vertical-align: middle;">Are you sure you want to delete your account?</strong>
                        <button class="btn btn-sm btn-danger float-right">Delete Account</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer class="container">
      <br>
      <br>
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>&copy; 2018 Hemlock, Inc. &middot;
        <a href="/terms">Terms and Conditions</a> &middot;
        <a href="/about">About Us</a> &middot;
        <a href="/contact">Contact Us</a> &middot;
        <a href="/help">Help</a> &middot;
        <a href="https://www.facebook.com/Hemlock-225751531511551/">
          <img src="images/facebook.png">
        </a>
        <a href="https://twitter.com/308Hemlock">
          <img src="images/twitter.png">
        </a>
        <a href="mailto:hemlockcse308@gmail.com">
          <img src="images/gmail.png">
        </a>
      </p>
    </footer>
</body>