<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:title="${person.personName}"></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src="js/jquery-3.3.1.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link href="css/hemlock.css" rel="stylesheet">
  <script src="js/modal.js"></script>
  <script src="js/showall.js"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      $('#forgotpassword').submit(function (e) {
        e.preventDefault();
        var user = new Object();
        user.email = $('#email').val();
        console.log($('#email').val());
        $.ajax({
          type: 'POST',
          url: '/forgotpassword',
          data: JSON.stringify(user),
          dataType: 'json',
          contentType: 'application/json; charset=utf-8',
          success: function (response) {
            if (response.response == 'ERROR') {
              alert('Error');
            }
            else {
              alert('Email sent');
            }
          },
          error: function (response) {
            console.log(response);
          }
        });
      });
    });
  </script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top">
      <a class="navbar-brand" href="/">Hemlock</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown01" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">Movies</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="/movies/opening">Opening This Week</a>
              <a class="dropdown-item" href="/movies/comingsoon">Coming Soon</a>
              <a class="dropdown-item" href="/movies/boxoffice">Top Box Office</a>
              <a class="dropdown-item" href="/movies/rated?page=1">Highest Rated</a>
              <a class="dropdown-item" href="/movies/awardwinners?page=1">Award Winners</a>
            </div>
          </li>
          <li class="nav-item active dropdown">
            <a class="nav-link active dropdown-toggle" id="dropdown02" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">TV Shows</a>
            <div class="dropdown-menu" aria-labelledby="dropdown02">
              <a class="dropdown-item" href="/tv/newtv">New TV Shows Tonight</a>
              <a class="dropdown-item" href="/tv/rated?page=1">Top Rated</a>
              <a class="dropdown-item" href="/tv/fresh">Certified Fresh</a>
            </div>
          </li>
          <li style="margin-left: 50px;">
            <form action="/search" th:action="@{/search}" method="post" class="form-inline my-2 my-lg-0" th:object="${queryOption}">
              <select th:field="*{dropdown}" style="margin-right: 8px;">
                <option th:value="All">All</option>
                <option th:value="Movie">Movies</option>
                <option th:value="TV">TV Shows</option>
                <option th:value="Actor">Celebrities</option>
              </select>
              <input name="query" th:field="*{query}" class="form-control mr-sm-2" type="text" placeholder="Search" style="width: 500px"
                required>
              <button class="btn btn-outline my-2 my-sm-0" type="submit">
                <img class="img-responsive" src="images\search-icon.png">
              </button>
            </form>
          </li>
        </ul>
        <div th:if="${user.username == null}">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Log In
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 15px;">
                <form action="/login" th:action="@{/login}" th:object="${user}" method="post" accept-charset="UTF-8">
                  <input id="user_username" style="margin-bottom: 15px;padding-left: 5px" type="text" name="user[username]" placeholder="Username"
                    th:field="*{username}" size="30" />
                  <input id="user_password" style="margin-bottom: 15px;padding-left: 5px" type="password" name="user[password]" placeholder="Password"
                    th:field="*{password}" size="30" />
                  <label style="display: inline-block; margin-right: 50px;" for="user_remember_me">
                    <input type="checkbox"> Remember me
                  </label>
                  <br>
                  <div class="container">
                    <div class="row">
                      <div class="col-12">
                        <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px; margin-bottom: 10px;" type="submit"
                          name="commit" value="Log In" />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <a class="btn btn-success" href="/register" style=" display: inline-block; clear: right; height: 32px; font-size: 13px;"
                          type="submit">Sign up</a>
                      </div>
                      <div class="col-8">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style=" display: inline-block; clear: right; height: 32px; font-size: 13px;width: 100%;">Forgot Password?
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>
        <div th:if="${user.username != null}">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" style="padding-left: 8px;text-decoration: none;">
                <div class="media p-1 float-left">
                  <img th:if="${user.picture}==null" src="images/profile.png" class="mr-1 mt-1 rounded-circle" style="width:30px;" />
                  <img th:if="${user.picture}!=null" th:src="@{'data:image/jpeg;base64,'+${user.picture64}}" class="mr-1 mt-1 rounded-circle"
                    style="width:30px;" />
                </div>
                <div th:text="${user.username}" style="display: inline-block; text-align: center;vertical-align: middle;line-height: 40px;"></div>
                <strong class="caret"></strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; width: 190px;">
                <div class="row">
                  <div class="col-5">
                    <div class="media p-1 float-left">
                      <img th:if="${user.picture}==null" src="images/profile.png" class="mr-1 mt-1 rounded-circle" style="width:60px;" />
                      <img th:if="${user.picture}!=null" th:src="@{'data:image/jpeg;base64,'+${user.picture64}}" class="mr-1 mt-1 rounded-circle"
                        style="width:60px;" />
                    </div>
                  </div>
                  <div class="col-7">
                    <div style="padding:5px; width: 100%;">
                      <a th:href="@{/user(username=${user.username})}+'#watchlist'" style="font-size:15px; color:green">
                        <b>Watchlist</b>
                      </a>
                      <a th:href="@{/user(username=${user.username})}+'#blacklist'" style="font-size:15px; color:red">
                        <b>Blacklist</b>
                      </a>
                    </div>
                  </div>
                </div>
                <a th:href="@{/user(username=${user.username})}" style="text-decoration: none;">Profile</a>
                <br>
                <a href="/account" style="text-decoration: none;">Account Settings</a>
                <br>
                <div class="dropdown-divider"></div>
                <form action="/logout" method="post">
                  <input class="btn btn-danger" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit"
                    value="Log Out" />
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Reset Password</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input id="email" type="text" class="form-control" placeholder="Enter email">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form id="forgotpassword" method="POST">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container" style="margin-top: 70px;">
    <h1 th:text="${person.personName}"></h1>
    <br>
    <div class="row">
      <div class="col-8">
        <div class="card card-body bg-light">
          <h3>Actor Info</h3>
          <div class="row">
            <div class="col-3">
              <img th:src="'images/People/'+${person.personName}+'/profile.jpg'" style="padding-top:6px; padding-right:6px; width:100%;" class="float-left">
            </div>
            <div class="col-3">
              <b>Highest Rated: </b>
              <br>
              <b>Lowest Rated: </b>
              <br>
              <b th:if="${person.dob}!=null">Birthday: </b>
              <br>
            </div>
            <div class="col-6">
              <a></a>
              <br>
              <a></a>
              <br>
              <a th:if="${person.dob}!=null" th:text="${#strings.toString(person.dob).substring(0,10)}"></a>
              <br>
            </div>
          </div>
          <div class="line-clamp" id='bio' th:text="${person.bio}"></div>
          <div class="btn-group">
            <div class="col">
              <button id='showbio' type="button" class="btn btn-sm btn-outline-secondary float-right showall">Show All</button>
            </div>
          </div>
        </div>
        <br>

        <div class="card card-body bg-light">
          <h3>Photos</h3>
          <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="padding-left:40px;padding-right:40px;">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A1.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A2.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A3.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A7.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A4.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A5.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A6.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A8.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-md-3">
                      <class="thumbnail">
                        <img src="images/A9.png" class="img-responsive photo" style="width:100%; height:200px;">
                    </div>
                  </div>
                </div>

              </div>
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="modal fade">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" th:text="${person.personName}"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img class="img-responsive modalImg">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <a class="btn btn-sm btn-outline-secondary" href="/gallery" style=" display: inline-block; clear: right; height: 32px; font-size: 13px;">View All</a>
        </div>
        <br>
      </div>


      <div class="col-4">
        <div class="card card-body bg-light align-items-center">
          <h3>Highest Rated Movies</h3>
          <p>
            <img src="images/TR1.png" style="padding-top:6px; width:100%;" alt="Top Rated">
          </p>
          <a>
            <b>Racing Dreams</b>
          </a>
          <a>
            <b>Rating: 100%</b>
          </a>
          <p>
            <img src="images/TR2.png" style="padding-top:6px; width:100%;" alt="Top Rated">
          </p>
          <a>
            <b>Moana</b>
          </a>
          <a>
            <b>Rating: 96%</b>
          </a>
          <p>
            <img src="images/TR3.png" style="padding-top:6px; width:100%;" alt="Top Rated">
          </p>
          <a>
            <b>Operation Filmmaker</b>
          </a>
          <a>
            <b>Rating: 91%</b>
          </a>
          <p>
            <img src="images/TR4.png" style="padding-top:6px; width:100%;" alt="Top Rated">
          </p>
          <a>
            <b>Furious 7</b>
          </a>
          <a>
            <b>Rating: 80%</b>
          </a>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-12">
        <div class="card card-body bg-light">
          <h3>Filmography</h3>
          <div class="line-clamp" id='moviescast' th:if="${castSize}>4">
            <b style="padding-left:5px;">Movies Acted In</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${cast}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id='moviescast' th:if="${castSize}<=4 and ${castSize}>0">
            <b style="padding-left:5px;">Movies Acted In</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${cast}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" th:if="${castSize}>4">
            <div class="col" style="margin-bottom: 10px;">
              <button id='showmoviescast' type="button" class="btn btn-sm btn-outline-secondary showall float-right" style="width: 100px;">Show All</button>
            </div>
          </div>
          <div class="line-clamp" id='movieswritten' th:if="${writtenSize}>4">
            <b style="padding-left:5px;">Movies Written</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${written}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id='movieswritten' th:if="${writtenSize}<=4 and ${writtenSize}>0">
            <b style="padding-left:5px;">Movies Written</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${written}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" th:if="${writtenSize}>4">
            <div class="col" style="margin-bottom: 10px;">
              <button id='showmovieswritten' type="button" class="btn btn-sm btn-outline-secondary showall float-right" style="width: 100px;">Show All</button>
            </div>
          </div>
          <div class="line-clamp" id='moviesdirected' th:if="${directedSize}>4">
            <b style="padding-left:5px;">Movies Directed</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${directed}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id='moviesdirected' th:if="${directedSize}<=4 and ${directedSize}>0">
            <b style="padding-left:5px;">Movies Directed</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>Box Office</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="movie : ${directed}">
                  <td>
                    <a th:href="@{/movie(id=${movie.id})}" th:text="${movie.title}"></a>
                  </td>
                  <td>
                    <a th:if="${movie.avgRating}!=null" th:text="${movie.avgRating}"></a>
                    <a th:if="${movie.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.movieId}==${movie.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:if="(${movie.boxOffice}>=100000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000000.0,1,1)}+'M'"></a>
                    <a th:if="(${movie.boxOffice}<100000 and ${movie.boxOffice}>=1000)" th:text="'$'+${#numbers.formatDecimal(movie.boxOffice/1000.0,1,2)}+'k'"></a>
                    <a th:if="(${movie.boxOffice}<1000 and ${movie.boxOffice}>0)" th:text="'$'+${movie.boxOffice}"></a>
                    <a th:if="${movie.boxOffice}==0">—</a>
                  </td>
                  <td>
                    <a th:text="${movie.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" th:if="${directedSize}>4">
            <div class="col" style="margin-bottom: 10px;">
              <button id='showmoviesdirected' type="button" class="btn btn-sm btn-outline-secondary showall float-right" style="width: 100px;">Show All</button>
            </div>
          </div>

          <div class="line-clamp" id='tvcast' th:if="${tvcastSize}>4">
            <b style="padding-left:5px;">TV Shows Acted In</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>TV Rated</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tv : ${tvcast}">
                  <td>
                    <a th:href="@{/tv(id=${tv.id})}" th:text="${tv.title}"></a>
                  </td>
                  <td>
                    <a th:if="${tv.avgRating}!=null" th:text="${tv.avgRating}"></a>
                    <a th:if="${tv.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${tvrole}" th:if="${r.tvId}==${tv.id}">
                    <a th:text="${r.tvrole}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.rated}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id='tvcast' th:if="${tvcastSize}<=4 and ${tvcastSize}>0">
            <b style="padding-left:5px;">TV Shows Acted In</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>TV Rated</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tv : ${tvcast}">
                  <td>
                    <a th:href="@{/tv(id=${tv.id})}" th:text="${tv.title}"></a>
                  </td>
                  <td>
                    <a th:if="${tv.avgRating}!=null" th:text="${tv.avgRating}"></a>
                    <a th:if="${tv.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${tvrole}" th:if="${r.tvId}==${tv.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.rated}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" th:if="${tvcastSize}>4">
            <div class="col" style="margin-bottom: 10px;">
              <button id='showtvcast' type="button" class="btn btn-sm btn-outline-secondary showall float-right" style="width: 100px;">Show All</button>
            </div>
          </div>
          <div class="line-clamp" id='tvcreated' th:if="${createdSize}>4">
            <b style="padding-left:5px;">TV Shows Created</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>TV Rated</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tv : ${created}">
                  <td>
                    <a th:href="@{/tv(id=${tv.id})}" th:text="${tv.title}"></a>
                  </td>
                  <td>
                    <a th:if="${tv.avgRating}!=null" th:text="${tv.avgRating}"></a>
                    <a th:if="${tv.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.tvId}==${tv.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.rated}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id='tvcreated' th:if="${createdSize}<=4 and ${createdSize}>0">
            <b style="padding-left:5px;">TV Shows Created</b>
            <table class="table left table-hover">
              <thead>
                <tr>
                  <th>
                    <a>Title</a>
                  </th>
                  <th>
                    <a>Rating</a>
                  </th>
                  <th>
                    <a>Role</a>
                  </th>
                  <th>
                    <a>TV Rated</a>
                  </th>
                  <th>
                    <a>Release Date</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="tv : ${created}">
                  <td>
                    <a th:href="@{/tv(id=${tv.id})}" th:text="${tv.title}"></a>
                  </td>
                  <td>
                    <a th:if="${tv.avgRating}!=null" th:text="${tv.avgRating}"></a>
                    <a th:if="${tv.avgRating}==null">–</a>
                  </td>
                  <td th:each="r :${role}" th:if="${r.tvId}==${tv.id}">
                    <a th:text="${r.role}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.rated}"></a>
                  </td>
                  <td>
                    <a th:text="${tv.releaseDate}"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" th:if="${createdSize}>4">
            <div class="col" style="margin-bottom: 10px;">
              <button id='showtvcreated' type="button" class="btn btn-sm btn-outline-secondary showall float-right" style="width: 100px;">Show All</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    </main>

    <footer class="container">
        <br>
        <br>
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; 2018 Hemlock, Inc. &middot;
          <a href="/terms">Terms and Conditions</a> &middot;
          <a href="/about">About Us</a> &middot;
          <a href="/contact">Contact Us</a> &middot;
          <a href="/help">Help</a> &middot;
          <a href="https://www.facebook.com/Hemlock-225751531511551/">
            <img src="images/facebook.png">
          </a>
          <a href="https://twitter.com/308Hemlock">
            <img src="images/twitter.png">
          </a>
          <a href="mailto:hemlockcse308@gmail.com">
            <img src="images/gmail.png">
          </a>
        </p>
      </footer>

</body>